# Python stuff
__py*
*.egg-info
/dist

# pdm
/.pdm-plugins
/.pdm-python
/.pdm-build
/.venv

# pytest
/.pytest_cache

# doit local database
.doit.db*

# Amaranth build
rom/build
sram/build
upcounter/build

rom/pins.lock
sram/pins.lock
upcounter/pins.lock

pdm.lock
